select {
    width: 150px;
    margin: 2px;
}

.btn {
    background-color: #f2ebea;
    border-color: #f2ebea;
    border-radius: 5px;
}

.btn:hover {
    background-color: #3d92a4;
    cursor: pointer;
}

#query {
    width: 100%;
    white-space: pre-wrap;
}
