select {
    width: 150px;
    margin: 2px;
}

table {
    border: solid 1px #000000;
}

th {
    width: 150px;
    border: solid 1px #000000;
}

td {
    width: 150px;
    border: solid 1px #000000;
}

#file-input {
    margin: 2%;
}

.btn {
    color: inherit;
    text-decoration: none;
    border: solid 1px #e69f8a;
    margin: 2%;
    margin-top: 10%;
    border-radius: 5px;
}

.btn:hover {
    background-color: #e97755;
    cursor: pointer;
}

#query {
    width: 100%;
}
