select {
    width: 150px;
    margin: 2px;
}

table {
    border: solid 1px #000000;
}

th {
    width: 150px;
    border: solid 1px #000000;
}

td {
    width: 150px;
    border: solid 1px #000000;
}
